{% extends "base.twig" %}

{# Ce modèle TWIG étend le modèle 'base.twig' : il contient tous les éléments fixes
   et un bloc main dont le contenu est spécialisé pour afficher un livre #}
   {% block css %}
   <link rel="stylesheet" href="styleP1.css">
   {% endblock %}
{% block main %}
<main>
    <section>
        <aside>
            <p>Fun Fact: {{ lesbienne.asidelesbienne }}</p>
        </aside>
        <article>
            <h3 class="L1">{{ lesbienne.titrelesbienne }}</h3>

            <img class="Lflag" src={{lesbienne.flaglesbienne}}
                    alt="drapeau lesbien, 5 bandes de couleurs symétrique rose, orange et blanc ">

            <p>
                {{ lesbienne.corpslesbienne }}
            </p>
             <img src={{ lesbienne.imagesappho }} alt="Sappho la poétesse">
        </article>
    </section>
</main>
{% endblock main %}