{% extends "base.twig" %}

{# Ce modèle TWIG étend le modèle 'base.twig' : il contient tous les éléments fixes
   et un bloc main dont le contenu est spécialisé pour afficher un livre #}
   {% block css %}
   <link rel="stylesheet" href="css/stylep1.css">
   {% endblock css %}
{% block main %}
<main role ="main">
    <section role = "section principale">
        <aside role= "asideFait">
            <h4 class ="tff">Fun Fact:</h4><p> {{cat1.aside}}</p>
        </aside>
        <article role = "article1">
            <h3 class="L1">{{cat1.titre}}</h3>
                <figure>
                <img class="Lflag" src={{cat1.flag}}
                alt={{cat1.altflag}}>
                </figure>
            <p role = "corps">
                {{cat1.corps}}
            </p>
            
            <figure role ="image de personne célébre">
             <img src={{cat1.imagepers}} alt="">
             <figcaption> {{cat1.capt}} </figcaption> 
        </article>
    </section>
</main>
{% endblock main %}
