{% extends "base.twig" %}

   {% block css %}
   <link rel="stylesheet" href="styleP6.css">
   {% endblock %}
{% block main %}

    <main role = 'main'>
    <aside role ='aside'>
        <p>Fun Fact: {{cat2.asidehistoire}}</p>
    </aside>
    <section role ='section principale'>
        <article role ='article1'>
            <h3 class="presentation"> {{cat2.presentation}} </h3>
            <p>  {{cat2.pave}} </p>
        </article>
        <article role ='article2'>
            <h3> {{cat2.titretab}} </h3>
            <table role = 'classification de personnalités'>
                {% for element in tableau %}
                    <tr>
                        <th> {{element.nom}} </th>
                        <th> {{element.travailpertinent}} </th>
                        <th> {{element.date}} </th>
                    </tr>
                 {% endfor %}
            </table>
        </article>
    </section>
    </main>
    {% endblock main %}