{% extends "base.twig" %}

   {% block css %}
   <link rel="stylesheet" href="styleP6.css">
   {% endblock %}
{% block main %}

    <main>
    <aside>
        <p>Fun Fact: {{cat2.asidecat2}}</p>
    </aside>
    <section>
        <article>
            <p class="presentation"{{cat2.presentation}}> </p>
            <p>  {{cat2.pave}} </p>
        </article>
        <article>
            <h3> {{cat2.titretab}} </h3>
            <table>
                {% for element in tableau %}
                    <tr>
                        <th> {{element.nom}} </th>
                        <th> {{element.travailpertinent}} </th>
                    </tr>
                 {% endfor %}
            </table>
        </article>
    </section>
    </main>
    {% endblock main %}