{% extends "base.twig" %}

   {% block css %}
   <link rel="stylesheet" href="stylep6.css">
      <link rel="stylesheet" href="stylebiblio.css">

   {% endblock %}
{% block main %}

    <main role = 'main'>
    <section role ='section principale'>
        <article role ='article principale'>
            <h3> {{tableau.titretab}} </h3>
            <table class ="bb"  role = 'bibliographie'>
                {% for element in tableau %}
                    <tr>
                        <td> {{element.nomRef}} </td>
                        <td> {{element.travailpertinent}} </td>
                        <td> {{element.lien}}<a href={{elment.hrefsm}}> {{elment.hrefsm}} </td>
                    </tr>
                 {% endfor %}
            </table>
        </article>
    </section>
    </main>
    {% endblock main %}
